body{
    padding: 0;
    margin: 0;
    background-color: rgb(173, 173, 173);
}

*{
    box-sizing: border-box;
}

main{
    margin-left: 10px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 
    "h h"
    "n n"
    "a as"
    "f f";
}

header{
    grid-area: h;
}

h1{
    text-align: center;
    color: rgb(0, 149, 255);
}

nav{
    grid-area: n;
}

nav ul li{
    display: inline-block;
    margin: auto 5px auto 5px;
    padding: 3px;
    border: 1px solid rgb(0, 149, 255);
}

nav ul li a{
    text-decoration: none;
    color: rgb(0, 149, 255);
}

 nav ul{
    text-decoration: none;
}

article{
    grid-area: a;
}

article{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
}

.termek{
    background-color: white;
    max-width: 300px;
    padding: 10px 10px 10px 10px;
}

.img{
    text-align: center;
}

img{
    max-width: 250px;
}

button{
    margin-right: 85px;
}

span{
    padding: 2px;
    border: 1px solid gray;
}

aside{
    grid-area: as;
}

aside{
    margin-left: 15px;
    background-color: white;
    padding: 10px;
}

.szelesebb{
    width: 70%;
    text-align: left;
}

.keskenyebb{
    width: 30%;
    text-align: right;
}

h4{
    text-align: center;
    border-top: 1px solid black;
}

.fizetes{
    position: relative;
    bottom: 0;
    left: 0;
}

footer{
    grid-area: f;
}

@media screen and (max-width: 700px){
    main{
        grid-template-columns:1fr;
        grid-template-areas: 
        "h"
        "n"
        "a"
        "as"
        "f";
    }
    
    article{
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
    }    
}

@media screen and (max-width: 400px){
    article{
        grid-template-columns: 1fr;
        grid-gap: 5px;
    }    
}